* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

@font-face {
  font-family: Proxima;
  src: url(../fonts/ProximaNovaScOsfExtraCondensed.ttf);
}
.site-container {
  margin: 0 auto;
  max-width: 1280px;
  min-height: 500px;
}

nav {
  position: fixed;
  height: 90px;
  width: 60%;
  /*   background-color: rgba(0,0,0,.5); */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid white;
}
nav .logo {
  width: 136px;
  height: 42px;
  color: white;
  font-family: Gill Sans;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
nav .links {
  height: 42px;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
nav .links a {
  text-decoration: none;
  font-family: Gill Sans;
  font-size: 15px;
  color: white;
}

.hero {
  height: 400px;
  background-color: antiquewhite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(/images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .travel-fly {
  width: 232px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Proxima;
  font-size: 60px;
}
.hero .travel-statement {
  width: 500px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  font-family: Gill Sans;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero .read-more {
  width: 121px;
  height: 40px;
  margin: 0 auto;
  padding: 5px 15px;
  background-color: #79ADDC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-family: Gill Sans;
  font-size: 15px;
}

.promo-trips {
  min-height: 304px;
  margin-top: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.promo-trips .austrailia {
  width: 240px;
  height: 304px;
  background-color: green;
  background-image: url(/images/tour-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.promo-trips .austrailia h5 {
  font-family: Proxima;
  color: white;
  text-align: center;
  font-size: 60px;
}
.promo-trips .austrailia h4 {
  font-family: Proxima;
  color: white;
  text-align: center;
  font-size: 30px;
  margin-bottom: 90px;
}
.promo-trips .usa {
  width: 240px;
  height: 304px;
  background-color: green;
  background-image: url(/images/tour-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.promo-trips .usa h5 {
  font-family: Proxima;
  color: white;
  text-align: center;
  font-size: 60px;
}
.promo-trips .usa h4 {
  font-family: Proxima;
  color: white;
  text-align: center;
  font-size: 30px;
  margin-bottom: 90px;
}
.promo-trips .israel {
  width: 240px;
  height: 304px;
  background-color: green;
  background-image: url(/images/tour-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.promo-trips .israel h5 {
  font-family: Proxima;
  color: white;
  text-align: center;
  font-size: 60px;
}
.promo-trips .israel h4 {
  font-family: Proxima;
  color: white;
  text-align: center;
  font-size: 30px;
  margin-bottom: 90px;
}

.learn-more {
  background-color: #79ADDC;
  width: 133px;
  height: 40px;
  padding: 10px 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Gill Sans;
  font-size: 15px;
  color: white;
  border-radius: 20px;
  text-transform: uppercase;
  margin: 0 auto;
}

.booking {
  min-height: 800px;
  padding: 50px;
}
.booking .booking-wrapper {
  max-width: 800px;
  margin: 0 auto;
}
.booking .booking-wrapper h1 {
  font-family: Proxima;
  font-size: 60px;
}
.booking .booking-wrapper .short-input {
  max-width: 800px;
}
.booking .booking-wrapper .short-input input {
  width: 344px;
  height: 58px;
  font-size: 18px;
  font-family: Gill Sans;
  color: black;
  margin-right: 21px;
  margin-top: 20px;
}
.booking .booking-wrapper .long-input {
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.booking .booking-wrapper .long-input label {
  font-size: 18px;
  font-family: Gill Sans;
  color: black;
}
.booking .booking-wrapper .long-input input {
  width: 698px;
  height: 58px;
  margin-top: 20px;
}
.booking .booking-wrapper .booking-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 800px;
  min-height: 100px;
  margin-right: 10px;
}
.booking .booking-wrapper .booking-info .box {
  width: 103px;
  height: 60px;
  border: solid 1px #79ADDC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}
.booking .booking-wrapper .booking-info .box img {
  width: 20px;
  height: 10px;
}
.booking .booking-wrapper .message {
  max-width: 800px;
  min-height: 200px;
}
.booking .booking-wrapper .message input {
  width: 800px;
  height: 192px;
  border: 1px solid #79ADDC;
}
.booking .booking-wrapper .sbtbtn input {
  width: 813px;
  height: 60px;
  background-color: #79ADDC;
  color: white;
  font-size: 15px;
  font-family: Gill Sans;
  border-radius: 30px;
  border: none;
}

footer {
  height: 100px;
  background-color: #79ADDC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
footer .logo {
  width: 136px;
  height: 42px;
  color: white;
  font-family: Gill Sans;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .copyright {
  font-size: 12px;
  color: white;
  font-family: Gill Sans;
}
footer .social img {
  padding: 10px;
}