nav{
    position: fixed;
    height: 90px;
    width: 60%;
  /*   background-color: rgba(0,0,0,.5); */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid white;

    .logo{
        width: 136px;
        height: 42px;
        // background-color: chocolate;
        color: white;
        font-family: Gill Sans;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .links{
        height: 42px;
        width: 500px;
        // background-color: darkblue;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
        a{
            text-decoration: none;
            font-family: Gill Sans;
            font-size: 15px;
            color: white;
        }
    }
  }