.learn-more{
    background-color: #79ADDC;
    width: 133px;
    height: 40px;
    padding: 10px 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Gill Sans;
    font-size: 15px;
    color: white;
    border-radius: 20px;
    text-transform: uppercase;
    margin: 0 auto;
}